doctype html
html
  head
    meta(charset='UTF-8')
    title Image Search Abstraction Layer API Project
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .col-md-8.col-md-offset-2
      h1 Image Search Abstraction Layer
      hr
      h2 User Stories:
      ul
        li
          | I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
        li
          | I can paginate through the responses by adding a ?offset=2 parameter to the URL.
        li 
          | I can get a list of the most recently submitted search strings.
      h2 Example Search Input
      code
        a(href='/imagesearch/funny otters') #{url}/imagesearch/funny otters  
        | //  Search for images of funny otters
        br
        a(href='/imagesearch/cool cars?offset=5') #{url}/imagesearch/cool cars?offset=5  
        | //  Return 5 search results for images of cool cars
      h2 Example Search Output
      code
        | {"url":"https://s-media-cache-ak0.pinimg.com/originals/7b/f4/3a/7bf43a85781e8c301939852b9a70da0d.jpg","snippet":"1000+ images about Cool Cars ...","context":"https://www.pinterest.com/FacePaintLove/cool-cars/"}
      h2 Example Search History
      code
        a(href='/latest') #{url}/latest
      |  gives the last 10 search queries in the format
      code
        | {"query":"cool cars","date":"2016-11-27T22:35:12+00:00"}
      hr
      p
        | This was completed as an API project for the FreeCodeCamp Back End Certification, check out the details 
        a(href='https://www.freecodecamp.com/challenges/image-search-abstraction-layer', target='_blank') here
        | .
      footer
        a(href='https://github.com/garrickg', target='_blank')
          i.fa.fa-2x.fa-github(aria-hidden='true')
        a(href='http://codepen.io/garrickg/', target='_blank')
          i.fa.fa-2x.fa-codepen(aria-hidden='true')
        a(href='https://www.freecodecamp.com/garrickg', target='_blank')
          i.fa.fa-2x.fa-free-code-camp(aria-hidden='true')
    script(src='https://use.fontawesome.com/1dd1d70e46.js')
